In [49]:
import requests
import pandas as pd
import time
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt

In [50]:
req = Request('https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue', headers={'User-Agent': 'XYZ/3.0'})
webpage = urlopen(req, timeout=10).read()
soup = BeautifulSoup(webpage,"html.parser")

In [65]:
# Crea un DataFrame para almacenar los datos de las tablas que cumplen con el criterio.
# Crea un DataFrame para almacenar los datos de las tablas que cumplen con el criterio.
trimestre = pd.DataFrame()
all_tables = soup.find_all('table')
for table in all_tables:
    # Encuentra todas las filas en la tabla.
    rows = table.find_all('tr')
    for row in rows:
        # Busca la palabra "Tesla Quarterly Revenue" en el contenido de la fila.
        if "Tesla Quarterly Revenue" in row.get_text():
            # Si la palabra se encuentra, convierte la tabla en un DataFrame.
            df = pd.read_html(str(table))
            if df:
                # Concatena el DataFrame con el DataFrame "trimestre".
                trimestre = pd.concat([trimestre, df[0]], ignore_index=True)

trimestre.columns


trimestre.head()

,Tesla Quarterly Revenue(Millions of US $),Tesla Quarterly Revenue(Millions of US $).1
0,2023-06-30,"$24,927"
1,2023-03-31,"$23,329"
2,2022-12-31,"$24,318"
3,2022-09-30,"$21,454"
4,2022-06-30,"$16,934"